# Files cache macOS X
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.afpDeleted*

# Icon must ends with two \r.
Icon

# Configuration directory of PhpStorm
.idea

# Thumbnails
._*
thumbs.db
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Files and Folder composer
/vendor/
composer.lock
composer.phar
.env